.note-title-input,
.note-content-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  resize: none;
  padding: 1px 0;
  font-size: 18px;
}

.note-title-input {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
}

.note-content-input {
  flex: 1;
  font-size: 16px;
}

.note-footer,
.create-note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.create-note-footer .note-actions {
  opacity: 1;
}

.note-actions {
  display: flex;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 24px;
  font-size: 12px;
  transition: background-color 0.2s;
}

.note-actions button:hover {
  background-color: rgba(0, 0, 0, 0.118);
}

.color-picker {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s;
  max-width: 268px;
}

.color-option {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.color-option:hover {
  transform: scale(1.1);
}

.checkbox-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox-item-view {
  display: flex;
  align-items: center;
  padding: 1px 0;
}

.checkbox-text-input {
  flex: 1;
  border: none;
  background: transparent;
  border-radius: 16px;
  font-family: inherit;
  padding: 0px 0px;
  font-size: 14px;
  margin-left: 8px;
  line-height: 1.5;
}

.checkbox-text-input.checked-text {
  color: #80868b;
}

.remove-checkbox-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

.add-checkbox-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: left;
  color: #5f6368;
  padding: 4px;
  padding-left: 12px;
}

.add-checkbox-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.checkbox-item-view input[type="checkbox"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  margin: 0;
}

.checkbox-item-view span {
  margin-left: 8px;
  word-break: break-word;
  font-size: 14px;
}
